api/constants/Web3 Glossary.yml
app:
  description: ''
  icon: 📑
  icon_background: '#E0F2FE'
  mode: advanced-chat
  name: Web3 Glossary
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: knowledge-retrieval
      id: 1711528914102-1711528915811
      source: '1711528914102'
      sourceHandle: source
      target: '1711528915811'
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1711528917469-source-1711528919501-target
      source: '1711528917469'
      sourceHandle: source
      target: '1711528919501'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: if-else
      id: 1711528915811-source-1739689676583-target
      source: '1711528915811'
      sourceHandle: source
      target: '1739689676583'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1739689676583-false-1711528917469-target
      selected: false
      source: '1739689676583'
      sourceHandle: 'false'
      target: '1711528917469'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: llm
      id: 1739689676583-true-1711528917469-target
      source: '1739689676583'
      sourceHandle: 'true'
      target: '1711528917469'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1711528914102'
      position:
        x: -332.4097172297261
        y: 164.6240790737603
      positionAbsolute:
        x: -332.4097172297261
        y: 164.6240790737603
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        dataset_ids:
        - f6fe350d-50c7-4be6-a8f4-00b65b8724f5
        desc: This feature allows you to search the knowledge base for text content
          related to the user's question.
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: weighted_score
          reranking_model:
            model: ''
            provider: ''
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0.5
            vector_setting:
              embedding_model_name: text-embedding-3-large
              embedding_provider_name: openai
              vector_weight: 0.5
        query_variable_selector:
        - '1711528914102'
        - sys.query
        retrieval_mode: multiple
        selected: false
        single_retrieval_config:
          model:
            completion_params:
              frequency_penalty: 0
              max_tokens: 512
              presence_penalty: 0
              temperature: 0
              top_p: 1
            mode: chat
            name: gpt-3.5-turbo
            provider: openai
        title: Knowledge Search
        type: knowledge-retrieval
      dragging: false
      height: 152
      id: '1711528915811'
      position:
        x: 146.1467093350759
        y: 30.316840189558008
      positionAbsolute:
        x: 146.1467093350759
        y: 30.316840189558008
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1711528915811'
          - result
        desc: ''
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-3.5-turbo-1106
          provider: openai
        prompt_template:
        - edition_type: basic
          id: 679f3173-c16b-41cc-b1a8-7526c35e286d
          role: system
          text: You are a helpful AI assistant.
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '1711528917469'
      position:
        x: 879.2959148868135
        y: 175.2253261410246
      positionAbsolute:
        x: 879.2959148868135
        y: 175.2253261410246
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1711528917469.text#}}'
        desc: ''
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 103
      id: '1711528919501'
      position:
        x: 1350.4287144564694
        y: 280.47464751630037
      positionAbsolute:
        x: 1350.4287144564694
        y: 280.47464751630037
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 648d59e0-fbb8-485a-aa87-8494f1634926
            value: ''
            varType: array[object]
            variable_selector:
            - '1711528915811'
            - result
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 126
      id: '1739689676583'
      position:
        x: 529.3037226758025
        y: 498.02296049071066
      positionAbsolute:
        x: 529.3037226758025
        y: 498.02296049071066
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 172.44767294761823
      y: 344.8842757773415
      zoom: 0.3769045186616564
